#dependencies 
.venv/

#dist
hexlet_code-0.1.1.tar.gz
hexlet_code-0.1.2.tar.gz
hexlet_code-0.1.3.tar.gz
hexlet_code-0.1.4.tar.gz
hexlet_code-0.1.5-py3-none-any.whl
hexlet_code-0.1.5.tar.gz

#brain_games/__pycache__
__init__.cpython-310.pyc
cli.cpython-310.pyc

#brain_games/scripts/__pycache__
__init__.cpython-310.pyc
brain_calc.cpython-310.pyc
brain_even.cpython-310.pyc
brain_games.cpython-310.pyc
brain_gcd.cpython-310.pyc
brain_prime.cpython-310.pyc
brain_progression.cpython-310.pyc
